.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-image: url('/assets/lol.jpg'); /* Use forward slashes and correct path */
  background-size: cover;
  background-position: center;
  color: #333; /* Set text color */
}

.heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.image-container {
  margin-bottom: 20px;
}

.gallefort {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.paragraph {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
