/* HistorySection.css */

.app__history-section {
    flex-direction: column;
    background: var(--color-black);
  }
  
  .app__history-section-title {
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .app__history-section-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  
  .app__history-section-content img {
    width: 100%;
    height: auto;
    margin: 2rem 0;
  }
  
  .app__history-section-content p {
    font-family: var(--font-base);
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-white);
    margin-bottom: 2rem;
  }
  
  .app__history-section-content button {
    font-family: var(--font-base);
    font-size: 18px;
    line-height: 1.5;
    background-color: var(--color-accent);
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  @media screen and (min-width: 2000px) {
    .app__history-section-content img {
      height: 920px;
    }
  }
  
  @media screen and (max-width: 1150px) {
    .app__history-section-content {
      align-items: center;
    }
  
    .app__history-section-content img {
      margin: 3rem 0;
    }
  }
  
  @media screen and (max-width: 650px) {
    .app__history-section-content img {
      width: 100%;
    }
  }
  